*.pyc
*.log
reports/*
*.code-workspace
.venv/
__pycache__

frontend/node_modules/
*.feature
*.png
*.jpg
*.jpeg


frontend/dist/
frontend/build/
frontend/.npm-cache-local
pehape-package-offline*/
pehape-package-offline*
allure-commandline/
